<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BasePageObjectModel" version="2.1.0" targetFramework="net45" />
  <package id="BasePageObjectModel.NUnit" version="2.1.1" targetFramework="net45" />
  <package id="DotNetSeleniumExtras.PageObjects" version="3.11.0" targetFramework="net45" />
  <package id="DotNetSeleniumExtras.WaitHelpers" version="3.11.0" targetFramework="net45" />
  <package id="NUnit" version="3.8.1" targetFramework="net45" />
  <package id="NUnit3TestAdapter" version="3.16.1" targetFramework="net45" developmentDependency="true" />
  <package id="Selenium.Firefox.WebDriver" version="0.26.0" targetFramework="net45" />
  <package id="Selenium.Support" version="3.7.0" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net45" />
  <package id="Selenium.WebDriver.GeckoDriver" version="0.26.0" targetFramework="net45" />
</packages>